# Introduction à Pandas : exercices


## Données d'exemple : Geonames

file: allCountries.zip source: http://download.geonames.org/export/

### Documentation

The main 'geoname' table has the following fields :

* geonameid : integer id of record in geonames database
* name : name of geographical point (utf8) varchar(200)
* asciiname : name of geographical point in plain ascii characters, varchar(200)
* alternatenames : alternatenames, comma separated, ascii names automatically transliterated, convenience attribute from alternatename table, varchar(10000)
* latitude : latitude in decimal degrees (wgs84)
* longitude : longitude in decimal degrees (wgs84)
* feature class : see http://www.geonames.org/export/codes.html, char(1)
* feature code : see http://www.geonames.org/export/codes.html, varchar(10)
* country code : ISO-3166 2-letter country code, 2 characters
* cc2 : alternate country codes, comma separated, ISO-3166 2-letter country code, 200 characters
* admin1 code : fipscode (subject to change to iso code), see exceptions below, see file admin1Codes.txt for display names of this code; varchar(20)
* admin2 code : code for the second administrative division, a county in the US, see file admin2Codes.txt; varchar(80)
* admin3 code : code for third level administrative division, varchar(20)
* admin4 code : code for fourth level administrative division, varchar(20)
* population : bigint (8 byte int)
* elevation : in meters, integer
* dem : digital elevation model, srtm3 or gtopo30, average elevation of 3''x3'' (ca 90mx90m) or 30''x30'' (ca 900mx900m) area in meters, integer. srtm processed by cgiar/ciat.
* timezone : the iana timezone id (see file timeZone.txt) varchar(40)
* modification date : date of last modification in yyyy-MM-dd format

AdminCodes: Most adm1 are FIPS codes. ISO codes are used for US, CH, BE and ME. UK and Greece are using an additional level between country and fips code. The code '00' stands for general features where no specific adm1 code is defined. The corresponding admin feature is found with the same countrycode and adminX codes and the respective feature code ADMx.

In [1]:
import pandas as pd

df = pd.read_csv('shared_data/geonames/allCountries.zip', header=None, delimiter='\t', names=('geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude', 'feature class',
                     'feature code', 'country code', 'cc2', 'admin1_code', 'admin2_code', 'admin3_code', 'admin4_code',
                     'population', 'elevation', 'dem', 'timezone', 'modification_date'), usecols=('geonameid', 'name', 'latitude', 'longitude', 'feature class',
                     'feature code', 'country code', 'admin1_code', 'admin2_code', 'admin3_code', 'admin4_code',
                     'population', 'elevation', 'modification_date'))
df.sample(100)

C:\Users\pablo\AppData\Local\Temp\ipykernel_7668\1226256293.py:3: DtypeWarning: Columns (8,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('shared_data/geonames/allCountries.zip', header=None, delimiter='\t', names=('geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude', 'feature class',

,geonameid,name,latitude,longitude,feature class,feature code,country code,admin1_code,admin2_code,admin3_code,admin4_code,population,elevation,modification_date
6495077,2341145,Gidan Banago,9.70672,7.24523,P,PPL,NG,31.0,27019.0,NaN,NaN,0,NaN,2016-01-30
9911368,4720076,Port Neches Middle School,29.98055,-93.95797,S,SCH,US,TX,245.0,NaN,NaN,0,5.0,2011-01-10
5554124,10461719,Bled Oulad Abbas Ben El Haj,32.62513,-9.15770,L,LCTY,MA,07,NaN,NaN,NaN,0,NaN,2016-12-06
1584076,6833296,Laiwu,20.89724,109.93150,P,PPL,CN,30.0,NaN,NaN,NaN,0,NaN,2012-01-20
3564386,6561748,Masigit,-7.12639,109.18833,P,PPL,ID,7,NaN,NaN,NaN,0,NaN,2012-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6042519,8870572,La Mesa,21.50611,-99.07333,P,PPL,MX,24,3.0,NaN,NaN,228,NaN,2014-04-11
4237614,10732748,Nawāngarh,31.49087,76.77431,P,PPL,IN,11,30.0,NaN,NaN,0,NaN,2016-02-11
7568732,1716647,Cubay,11.49260,123.08490,P,PPL,PH,06,30,63014000.0,NaN,0,NaN,2017-12-13
8559001,8127150,Stenum socken,58.35429,13.51537,A,ADM4,SE,28,1495.0,149508.0,2037.0,0,NaN,2012-01-19
427527,8788680,Kundi Park,-35.52856,149.20810,S,HMSD,AU,2,16180.0,NaN,NaN,0,NaN,2014-04-08

### Question 1

Quel est la taille du DataFrame?

### Question 2

Afficher le résumé des veleurs du DataFrame

### Question 3

Quels sont les lacs qui figurent dans les données? (*aide : code "LK"*)

*Bonus : Y a-t-il des doublons ? *

### Question 4

Afficher le nombre de lacs par pays

### Question 5

Quels sont les lacs repertoriés pour la Suisse et quel est son altitude moyenne ?

*Bonus : Et pour le Canton de Genève ?*

### Question 6

Identifier le lac Léman

### Question 7

Exporter la table des lacs dans un fichier CSV

### Question 8

Afficher un graphique des barres avec le nombre de lacs par pays pour les premiers 30 pays

*Bonus : Afficher un histogramme avec l'altitude des lacs*